@import "../../global.scss";

.testimonials{

    background-color: white;
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction: column;
    overflow: hidden;
    h2{
        margin-top:10px;
        overflow: hidden;
        font-size: 30px;
        margin-bottom: 10px; 
        @include mobile{
            font-size: 20px;
        }  

    }
    .container{
        background-color: white;
        display:flex;
        height:100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        @include mobile{
            flex-direction: column;
        }
        .card{
            background-color: white;
            width:250px;
            height:60%;
            border-radius: 10px;
            box-shadow:0px 0px 15px -8px black;
            display:flex;
            flex-direction: column;
            justify-content: space-around;
            padding:20px;
            align-items: center;
            margin:0 30px;
            transition: all 1s ease;
            @include mobile{
                margin-bottom:15px;

            }
            &.featured{
                width:300px;
                height:65%;
            }
            &:hover{
                transform:scale(1.1);
            }
            .top{
                display:flex;
                align-items: center;
                justify-content: center;
                background-color: white;

                .logo{
                    height:100px;
                    background-color: white;
                    @include mobile{
                        
                        height:40px;
                    }
                }

            }
            .center{
                color:grey;
                font-size: 20px;
                
                h2{
                    font-size:25px;
                    color:$greyText;
                    @include mobile{
                        font-size: 10px;
                    }
                }
                h3{
                    font-size:20px;
                    color:gray;
                    @include mobile{
                        display:none;
    
                    }
                }

            }
            .bottom{
                button{
                    width:150px;
                    height:30px;
                    color:white;
                    background-color: crimson;
                    border:none;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: all .5s ease;
                    a{
                        color:white;
                        text-decoration: none;
                        font-weight: 300;
                    }
                    &:focus{
                        outline:none;
                    }
                    &:hover{
                        background-color: rgb(241, 42, 82);

                        box-shadow: 2px 3px rgb(182, 179, 179);

                    }
                    @include mobile{
                        height:20px;
                        width:100px;

                    }
                   
                }
            }

        }
    }
}