@import "../../global.scss";
.contact{
    background-color: white;
    display:flex;
    @include mobile{
        flex-direction: column;
    }
    .left{
        flex:1;
        display:flex;
        flex-direction:column;
        overflow:hidden;
        align-items: center;
        justify-content: center;

        img{
            height:50%;
        }
    }
    .right{
        flex:1;
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: space-around;
        h2{
            font-size: 30px;
            @include mobile{
                font-size: 20px;

            }
           
            
        }
        form{
            width:70%;
            height:70%;
            display:flex;
            flex-direction:column;
            align-items: center;
            justify-content: space-around;
            input{
                width:300px;
                height:50px;
                font-size: 14px;
                @include mobile{
                    width:200px;
                    height:20px;
                }
            }
            textarea{
                width:300px;
                height:200px;
                font-size: 14px;
                @include mobile{
                    width:200px;
                    height:100px;
                }
            }
            button{
                width:150px;
                height:30px;
                color:white;
                background-color: crimson;
                border:none;
                border-radius: 10px;
                font-weight: 500px;
                cursor: pointer;
                transition: all .5s ease;
                @include mobile{
                    margin-top: 10px;
                }
                &:focus{
                    outline:none;
                }
                &:hover{
                    background-color: rgb(245, 10, 57);

                    box-shadow: 2px 2px rgb(182, 179, 179);

                }
            }
            span{
                color:green;
                
            }

        }
    }
}